* {
  margin-block: 0px;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
.App {
  margin: 20px 40px 0px 40px;
  text-align: center;
  display:flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
:root {
  --nunito: 'Nunito Sans', sans-serif;
  --space: 'Space Mono', monospace;
  --green: #4BB543;
  --red: #F51010;
  --code-gray: #F5F5F5;
  --terminal-black: #05080E;
  /* Perfect 4th credit type-scale */
  --headline-jumbo: 4.209rem;
  --headline-1: 3.157rem;
  --headline-2: 2.369rem;
  --body-large: 1.333rem;
  --body-base: 1rem;
  --body-small: .75rem;
}

.main-content {
  max-width: 900px;
  min-width: 800px;
  padding:5px;
  align-items: left; 
  background-color: var(--code-gray);
} 
.main-content p {
  text-align:left;
}
.whitespace {
  display: inline-block;
  width: 13px;
  background-color: var(--code-gray);
}
.done {
  background-color: var(--code-gray);
  min-height: 32px;
}

.space {
  font-family: var(--space);
  font-size: var(--body-base);
}

.nunito {
  font-family: var(--nunito);
  font-size: var(--headline-jumbo);
}

.typed {
  background-color: var(--code-gray);
}
.not-typed {
  background-color: var(--terminal-black);
}

.green {
  color: var(--green);
}
.red {
  color: var(--red); 
}
footer {
  height: 80px;
  background-color: #36434f;
  color: #f2f2f3;
  font-family: var(--nunito);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
