.App {
  margin: 0 40px;
  text-align: left;
}

:root {
  --nunito: 'Nunito Sans', sans-serif;
  --space: 'Space Mono', monospace;
  --green: #4BB543;
  --red: #F51010;
  --code-gray: #F5F5F5;
  --terminal-black: #05080E;
  /* Perfect 4th credit type-scale */
  --headline-jumbo: 4.209rem;
  --headline-1: 3.157rem;
  --headline-2: 2.369rem;
  --body-large: 1.333rem;
  --body-base: 1rem;
  --body-small: .75rem;
}

.whitespace {
  display: inline-block;
  width: 13px;
  background-color: var(--code-gray);
}
.done {
  background-color: var(--code-gray);
}

.space {
  font-family: var(--space);
  font-size: var(--body-large);
}

.nunito {
  font-family: var(--nunito);
  font-size: var(--headline-jumbo);
}

.typed {
  background-color: var(--code-gray);
}
.not-typed {
  background-color: var(--terminal-black);
}

.green {
  color: var(--green);
}
.red {
  color: var(--red); 
}
