.App {
  text-align: center;
}

:root {
  --nunito: 'Nunito Sans', sans-serif;
  --space: 'Space Mono', monospace;
}

.space {
  font-family: var(--space);
}

.nunito {
  font-family: var(--nunito);
}
